.bi {
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

/* Sidebar */
@media (min-width: 768px) {
    .sidebar .offcanvas-lg {
        position: -webkit-sticky;
        position: sticky;
        top: 48px;
    }
    .navbar-search {
        display: block;
    }
}

.sidebar .nav-link {
    font-size: .875rem;
    font-weight: 500;
}

.sidebar .nav-link.active {
    color: #2470dc;
}

.sidebar-heading {
    font-size: .75rem;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    height: 80px;  /* Tetap kunci tinggi navbar */
    background-color: #EDF3F2;
    padding: 0; /* Hapus padding untuk menghindari jarak yang tidak perlu */
    margin-bottom: 0; /* Pastikan tidak ada margin bawah pada navbar */
}

/* Navbar-brand */
.navbar-brand {
    height: 100%; /* Penuhkan tinggi navbar */
    display: flex;
    align-items: center; /* Pusatkan konten vertikal */
    padding: 0 10px; /* Jarak horizontal opsional */
}

/* Gambar di Navbar */
.navbar-image {
    height: 50px;  /* Tinggi tetap 50px */
    width: auto;  /* Lebar otomatis */
    margin: 10px 0;  /* Tambahkan margin atas dan bawah */
}

/* Navbar Nav */
.navbar-nav {
    margin-left: auto; /* Mengatur jarak antara navbar dan elemen lain */
    margin-bottom: 0; /* Pastikan tidak ada margin bawah */
}

/* Sidebar jika menggunakan offcanvas */
.offcanvas {
    margin-top: 0 !important; /* Jika menggunakan offcanvas, pastikan tidak ada margin atas */
}

.sidebar .nav-link {
    color: #07582d; /* Warna teks awal */
    transition: background-color 0.3s, color 0.3s; /* Animasi saat hover */
}

.sidebar .nav-link:hover {
    color: white; /* Warna teks saat hover */
    background-color: #07582d; /* Warna latar belakang saat hover */
}

.sidebar .nav-link.active {
    color: white; /* Warna teks untuk item aktif */
    background-color: #07582d; /* Warna latar belakang untuk item aktif */
}
